---
layout: default
---
<div id="research" class="col-sm-12">
  {{ content }}

  {% for category in site.data.research_highlights %}
  <h2>{{ category.name }}</h2>

  {% assign number_printed = 0 %}
  {% for highlight in category.highlights %}

  {% assign even_odd = number_printed | modulo: 2 %}

  {% if even_odd == 0 %}
  <div class="row">
  {% endif %}

  <div class="col-sm-6 clearfix">
    <div class="well">
      <pubtit>{{ highlight.title }}</pubtit>
      <img src="{{ site.url }}{{ site.baseurl }}/images/pubpic/{{ highlight.image }}" class="img-responsive" width="33%" style="float: left" />
      <p>{{ highlight.description }}</p>
      <p><em>{{ highlight.authors }}</em></p>
      <p><strong><a href="{{ highlight.link.url }}">{{ highlight.link.display }}</a></strong></p>
      <p class="text-danger"><strong> {{ highlight.news1 }}</strong></p>
      <p> {{ highlight.news2 }}</p>
    </div>
  </div>

  {% assign number_printed = number_printed | plus: 1 %}

  {% if even_odd == 1 %}
  </div>
  {% endif %}

  {% endfor %}

  {% assign even_odd = number_printed | modulo: 2 %}
  {% if even_odd == 1 %}
  </div>
  {% endif %}

  <p> &nbsp; </p>

  {% endfor %}
</div>
